<h1 id="about">About Us</h1>
<h3 id="about">Custom Cam is a weekend project developed by 4 students during their 7th weekend at <%= link_to 'Dev Bootcamp', 'http://www.devbootcamp.com' %>. <span id="source"><%= link_to '(Source)', 'https://www.github.com/dawenster/custom_cam' %></span></h3> 
<div class="row">
  <div class="span4">
    <%= (cl_image_tag('/assets/david.png', :transformation => {:width => 300, :height => 300, :crop => :thumb}, :class => "about")) %>
  </div>

  <div class="span8">
  <h2 class="about">David Wen</h2>
    <p class="about">David stands 7-foot-8-inches and played for the National Canadian Basketball team before they forcibly disbanded due to lack of players (regulation minimum: 10, total Canadian population: 7.5). He is currently studying almonds.</p>
    <p class="about">David built the Sign Up, User Profile, Rating, Winner Pages.</p>
    <p><%= link_to 'Github Profile', 'https://www.github.com/dawenster' %>

  </div>
</div>

<div class="row">
  <div class="span4">
    <%= (cl_image_tag('/assets/gavin.png', :transformation => {:width => 300, :height => 300, :crop => :thumb}, :class => "about")) %>
  </div>

  <div class="span8">
  <h2 class="about">Gavin St. Ours</h2>
    <p class="about">A Dreamer. A Fighter. A Charmer. Gavin spends his time herding cats when not coding. He is the half-brother of Charlie St. Cloud. He can be often be found collecting Pogs.</p>
    <p class="about">Gavin built the User Profile, Category/Contest Workflow pages along with Authorizations and CSS.</p>
    <p><%= link_to 'Github Profile', 'https://www.github.com/charmcitygavin' %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= (cl_image_tag('/assets/kevin.png', :transformation => {:width => 300, :height => 300, :crop => :thumb}, :class => "about")) %>
  </div>

  <div class="span8">
  <h2 class="about">Kevin Ko</h2>
    <p class="about">Kevin is a champion bear wrestler and will fight you if you say otherwise. Also a former child actor, who, ironically, protested against the cruel and unfair treatment of bears on set. Some say he prefers banana pancakes for dinner.</p>

      <p class="about">Kevin built the Contest View, Comment AJAX Submissions, Workflow pages along with the Design and CSS.</p>
      <p><%= link_to 'Github Profile', 'https://www.github.com/heyimkko' %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= (cl_image_tag('/assets/philip.png', :transformation => {:width => 300, :height => 300, :crop => :thumb}, :class => "about")) %>
  </div>

  <div class="span8">
  <h2 class="about">Philip Woo</h2>
    <p class="about">As a result of spending the last 25 years (of his existing 21) in a Korean monastery as a mute, celibate monk, Philip has lost all sense of speech in order to further hone his coding ability. He now attends Dev Bootcamp during his transition between brotherhoods.</p>

    <p class="about">Philip built the algorithms involved in Authorization, Email Notification, Contest Duration, along with the Profile pages.</p>
    <p><%= link_to 'Github Profile', 'https://www.github.com/jhw1202' %>
  </div>
</div>
