<div>
  <h1>Index of All Contests</h1>
  <% @contests.each do |contest| %>
    <div><%= link_to contest.title, contest %></div>
    <div>Created by: <%= contest.user.username %></div>
    <div>Category: <%= contest.category.title %></div>
    <div>Bounty: $<%= contest.price %></div>
    <div>Description: <%= contest.description %></div>
    <BR>
  <% end %>
</div>
