<div class="row">
  <div class="span5">
    <h1><%= @contest.title %></h1>
    <p><strong><%= @time_left > 0 ? ("Days Left :" + humanize(@time_left) ) : "CONTEST OVER" %></strong></p>
    <p><strong>Created By:</strong> <%= User.find(@contest.creator_id).username %></p>
    <p><strong>Category:</strong> <%= @contest.category.title %></p>
    <p><strong>Description:</strong> <%= @contest.description %></p>
    <p><strong>Bounty:</strong> $<%= @contest.price %></p>
    <p><strong>Time left:</strong> TODO: CONTEST DURATION</p>

    <% if @time_left > 0 && current_user.photographer %>
      <%= form_tag photos_path, :method => 'post', :multipart => true do %>
        <label for="file"><h3>Submit a Photo</h3></label>
        <%= file_field_tag "file" %>
        <%= hidden_field_tag :contest_id, params[:id] %>
        <div id="input_desc">
          <%= label_tag(:description, "Photo Description:") %>
          <%= text_area_tag(:description) %>
          <%= submit_tag "Submit!", :class => "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>

    <h3>Contest Comments (<%= @comments.count %>):</h3>

    <ul class="comments">
      <% @comments.each do |comment| %>
        <li>
          <%= comment.content %><br>
          <div class="posted_by">
            Posted by: <%= comment.user.username %>
            <% if comment.user == current_user %>
              <%= link_to '', contest_comment_path(@contest, comment), 
                  :class => 'icon-remove', :remote => true, :method => 'delete' %>
            <% end %>
           </div>
        </li>
      <% end %>
    </ul>

    <%= form_for [@contest, Comment.new], :remote => true do |f| %>
      <div>
        <%= f.label :content %>
        <%= f.text_area :content, :placeholder => "Comment on this contest" %><br>
        <%= f.submit "Submit Comment", :class => "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="span7">
    <% if @winning_photo %>
      <h1>Winner!</h1>
      
      <div class="each-photo-submission">
        <div class="photo-and-button">
          <a data-toggle="lightbox" href="#<%= dom_id(@winning_photo) %>">
          <div class="ribbon"><%= image_tag 'winner.png', :width => 100, :height => 100 %></div>
          <%= cl_image_tag @winning_photo.url, :width => 500, :height => 400, :gravity => :face, :crop => :thumb %></a>
        </div>
        <li><%= @winning_photo.description %></li>
        <div class="posted_by">
          Submitted by: <%= @winning_photo.user.username %>
        </div> 
        <li><%= link_to @winning_photo.comments.count.to_s + ' comments', @winning_photo %></li>
      </div>
    <% end %>

    <h1>All submissions</h1>

    <% @photos.reverse.each do |photo| %>
      <div id="<%= dom_id(photo) %>" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class='lightbox-header'>
          <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
        </div>
        <div class='lightbox-content'>
          <%= image_tag photo.url %>
          <div class="lightbox-caption">
            <p><%= photo.description %></p>
          </div>
        </div>
      </div>
      
      <% unless photo == @winning_photo %>
        <div class="each-photo-submission">
          <div class="photo-and-button">
            <% if @winning_photo == nil && @time_left < 0 && current_user == @contest.user %><button type="button" class="btn btn-large btn-success winner-button hide" data-photo="<%= photo.id %>" data-contest="<%= @contest.id %>">Select as winner</button><% end %>
            <a data-toggle="lightbox" href="#<%= dom_id(photo) %>">
              <%= cl_image_tag photo.url, :width => 500, :height => 400, :gravity => :face, :crop => :thumb %>
            </a>  
          </div>
          <li><%= photo.description %></li>
          <div class="posted_by">
            Submitted by: <%= photo.user.username %>
          </div> 
          <li><%= link_to photo.comments.count.to_s + ' comments', photo %></li>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
