<% if current_user.photographer %>
  <h1>Your photos</h1>
  Welcome <%= current_user.username %>

  <% current_user.photos.reverse.each do |photo| %>
    <ul>
      <li><h3><%= link_to "Contest: " + photo.contest.title, photo.contest %></h3></li>
      <li><%= link_to (cl_image_tag(photo.url,:transformation => {
                   :width => 400, :height => 300, 
                   :gravity => :face, :crop => :thumb
                 }, 
                 :overlay => "imr8jo8uwavt6r4gbzlu", 
                 :width => 300, :crop => :scale, 
                 :gravity => :south_east, :x => 5, :y => 5, 
                 :html_width => 400, :html_height => 300) ), photo.url.to_s %></li>
      <% unless photo.description = "" %>
        <li><%= photo.description %></li>
      <% end %>
    </ul>
  <% end %>

  <% else %>
  <h1>Your contests</h1>

<div>
  <% current_user.contests.each do |contest| %>
    <div><%= link_to contest.title, contest %></div>
    <div>Created by: <%= contest.user.username %></div>
    <div>Category: <%= contest.category.title %></div>
    <div>Price: $<%= contest.price %></div>
    <div>Description: <%= contest.description %></div>
  <% end %>
</div>

<% end %>
