Welcome <%= current_user.username %>

<% if current_user.photographer %>
  <h1>Your photos</h1>
  <% current_user.photos.each do |photo| %>
    <%= photo.contest.title %>
    <%= image_tag photo.url %>
    <%= photo.description %>
  <% end %>

  <% else %>
  <h1>Your contests</h1>

<div>
  <% current_user.contests.each do |contest| %>
    <div><%= link_to contest.title, contest %></div>
    <div>Created by: <%= contest.user.username %></div>
    <div>Category: <%= contest.category.title %></div>
    <div>Price: $<%= contest.price %></div>
    <div>Description: <%= contest.description %></div>
    <BR>
  <% end %>
</div>
