Welcome <%= current_user.username %>

<% if current_user.photographer %>
  <h1>Your photos</h1>
  <% current_user.photos.reverse.each do |photo| %>
    <ul>
      <li><h3><%= link_to "Contest: " + photo.contest.title, photo.contest %></h3></li>
      <li><%= image_tag photo.url %></li>
      <% unless photo.description = "" %>
        <li><%= photo.description %></li>
      <% end %>
    </ul>
  <% end %>

  <% else %>
  <h1>Your contests</h1>

<div>
  <% current_user.contests.each do |contest| %>
    <div><%= link_to contest.title, contest %></div>
    <div>Created by: <%= contest.user.username %></div>
    <div>Category: <%= contest.category.title %></div>
    <div>Price: $<%= contest.price %></div>
    <div>Description: <%= contest.description %></div>
  <% end %>
</div>

<% end %>
