<div class="photo_show">
<%= image_tag @photo.url %>
<div class="photo_wrapper">
  <h3>Contest Comments (<%= @photo.comments.count %>):</h3>
  <ul class="comments">
    <% @photo.comments.reverse.each do |comment| %>
    <li class="comment">
      <%= simple_format(comment.content) %><br>
      <div class="posted_by">
         Posted by: <%= link_to comment.user.username, user_path(comment.user) %>
        <% if comment.user == current_user %>
          <%= link_to '', photo_comment_path(@photo, comment), 
            :class => 'icon-remove', :remote => true, :method => 'delete' %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <%= form_for [@photo, Comment.new], :remote => true do |f| %>
    <%= f.label :content, "Add a Comment:" %>
    <%= f.text_area :content, :rows => 10, :class => "desc_box" %><br>
    <%= f.submit "Add Comment", :class => "btn btn-primary" %>
  <% end %>
</div>
<%= link_to "Back to Contest", contest_path(@photo.contest) %>
</div>

