<!DOCTYPE html>
<html>
<head>
  <title>CustomCam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans|PT+Sans+Narrow:400,700|Comfortaa|Carter+One|Sansita+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/nav_bar" %>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
